@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
   margin-top: 50px;
   font-family: "Open Sans", sans-serif;
   color: #2E3640;
}

h1 {
   margin-bottom: 4rem;
}

.year-label {
   color: #5ebac6;
}

.hour-label {
   color: #cda095;
}

.month-label {
   color: #bedb6d;
}

.footer {
   margin-top: 8rem;
   background-color: #f5f5f5;
   padding: 2rem 0;
}